#mainbox {
    background: white;
    border: 2px solid red;
    padding: 2%;
    margin: 5%;
    position: relative;
    align-content: center;
    text-align: center;
    width: auto;
}

.text {
    text-align: center;
    color: red;
}

#title {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

#button {
    background-color: white;
    position: relative;
    padding: 10px 24px;
    border-radius: 12px;
    border: 2px solid red;
}

#buttonbox {
    padding: 0%;
    margin: 5%;
    position: relative;
    align-content: center;
    text-align: center;
}

