@keyframes bordercolor {
    0% {border: 4px solid magenta;}
    20% {border: 4px solid #FFCC33;}
    40% {border: 4px solid orange;}
    60% {border: 4px solid lime;}
    80% {border: 4px solid turquoise;}
    100% {border: 4px solid #E936A7;}
}

#hoop {
    position:relative;
}

#redball {
    position:relative;
}

#mainbox {
    background: white;
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    position: relative;
    align-content: center;
    text-align: center;
    width: auto;
}

.text {
    text-align: center;
    color: orangered;

}

#title {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

#button {
    background-color: white;
    position: relative;
    padding: 10px 24px;
    border-radius: 12px;
    border: 4px solid red;
    animation-name: bordercolor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#buttonbox {
    padding: 0%;
    margin: 2%;
    position: relative;
    align-content: center;
    text-align: center;
}


